.banner-cont {
  height: auto;
   position: relative; 
   /* top:2rem */
}

.slider-text {
  width: 100%;
  background-color: #20bf6b;
  color: white;
  height: 2.4rem;
  position: absolute;
  bottom:-1.5rem;
}

.slider-text h4 {
  margin-top: 0;

}

@media only screen and (max-width:330px){
 .slider-text{
  height:2rem;
 }

}


