.overview-container{
    width:100vw;
    margin:1rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    /* margin-top: 2rem; */
 
   
}
.overview-container .image-containers{
    display:flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 15rem;
    width:60%;
    position: relative;
    padding-top: 0.5rem;

}
.image-containers .alice-carousel__stage-item {

    height: 15rem;
  }
.image-containers img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height:10rem;
    width:10rem; */
    border-radius: 1rem;

}
.item-overview{
 width:50%;
 display: flex;

 
}
.item-name{
    font-family: Lemonada;
   

}
.item-name > *{
    font-size: 1rem;
    font-weight: bold;
}
.cartBtn{
    margin:1rem;
}
.wishlist{
    display: flex;
    justify-content: flex-end;
    /* background-color: aqua; */
    width:60%
  
}
@media screen and (max-width:600px) {
  
    .wishlist{
        justify-content:flex-start;
        width:90%;
        /* background-color: aqua; */
    }
    .overview-container .image-containers{
        margin-top: 2rem;
        width:80%;
        box-shadow: none !important;
    }
   
}